<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PESTApply.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
      <publisherPolicy apply="yes"/>
      <probing privatePath="Bin;Common"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PESTApply.Properties.Settings>
      <setting name="ApplyPage" serializeAs="String">
        <value>http://order.etest.net.cn/select/index/12/0101</value>
      </setting>
      <setting name="Captcha" serializeAs="String">
        <value>https://member.etest.net.cn/login/createCode</value>
      </setting>
      <setting name="CaptchaValJuHe" serializeAs="String">
        <value>http://op.juhe.cn/vercode/index</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>https://member.etest.net.cn/login/loginSuccess</value>
      </setting>
      <setting name="Apply" serializeAs="String">
        <value>http://order.etest.net.cn/select/confirmation</value>
      </setting>
      <setting name="Areas" serializeAs="String">
        <value>http://order.etest.net.cn/petSelect/getProvinces?cbd=knight&amp;geoId=310000&amp;proId=12</value>
      </setting>
      <setting name="OrgAndSubject" serializeAs="String">
        <value>http://order.etest.net.cn/select/getAttr?cbd=knight</value>
      </setting>
      <setting name="Package" serializeAs="String">
        <value>http://order.etest.net.cn/select/getList?cbd=knight&amp;</value>
      </setting>
      <setting name="Account" serializeAs="String">
        <value>1161536884@qq.com</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>123456fan</value>
      </setting>
      <setting name="ProId" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="NodeCode" serializeAs="String">
        <value>0101</value>
      </setting>
      <setting name="StudentType" serializeAs="String">
        <value>08</value>
      </setting>
      <setting name="MainArea" serializeAs="String">
        <value>310000</value>
      </setting>
      <setting name="PaymentType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TimesPath" serializeAs="String">
        <value>//dd[@id='time']</value>
      </setting>
      <setting name="JuHeKey1" serializeAs="String">
        <value>01bf2a9cd67d8dccd70cfd8a76aee77b</value>
      </setting>
      <setting name="JuHeKey2" serializeAs="String">
        <value>1004</value>
      </setting>
    </PESTApply.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>