<?xml version="1.0"?>
<EngineConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppTitle>DoubleX管理中心</AppTitle>
  <AppNamespace>PESTApply</AppNamespace>
  <AppType>Wpf</AppType>
  <IsDebugger>true</IsDebugger>
  <Culture>zh-CN</Culture>
  <Hosting>http://+:8201</Hosting>
  <ConfigPath>/Config</ConfigPath>
  <Store>
    <Database>
      <DbType>Sqlite</DbType>
      <ConnectionString>Data Source=assets\database\database.db;</ConnectionString>
    </Database>
    <DataCache>
      <DbType>Redis</DbType>
      <DbName>0</DbName>
      <ConnectionString>redis1:6379</ConnectionString>
    </DataCache>
    <AppCache>
      <DbType>Redis</DbType>
      <DbName>1</DbName>
      <ConnectionString>redis1:6379</ConnectionString>
    </AppCache>
    <SessionCache>
      <DbType>Redis</DbType>
      <DbName>2</DbName>
      <ConnectionString>redis1:6379</ConnectionString>
    </SessionCache>
    <CodeCache>
      <DbType>Redis</DbType>
      <DbName>3</DbName>
      <ConnectionString>redis1:6379</ConnectionString>
    </CodeCache>
  </Store>
  <Authentication>
    <AuthenticationType>Cookie</AuthenticationType>
    <LoginPath>/account/login</LoginPath>
    <LogoutPath>/account/logout</LogoutPath>
    <AccessDeniedPath>/error/access</AccessDeniedPath>
    <SecretKey>aaa1234567890abcdefghijkhim</SecretKey>
  </Authentication>
</EngineConfigModel>