<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="All"/>
      <appender name="ServiceRollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <filter type="log4net.Filter.LoggerMatchFilter">
          <loggerToMatch value="Service"/>
        </filter>
        <filter type="log4net.Filter.DenyAllFilter"/>
        <file value="Log/Service/"/>
        <appendToFile value="true"/>
        <staticLogFileName value="false" />
        <rollingStyle value="Composite"/>
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="2MB" />
        <countDirection value="1" />
        <datePattern value="yyyy-MM\\yyyy-MM-dd"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="时间：%date   线程ID:[%thread]   日志级别：%-5level 运时：%r  %newline %n  %m  %newline %n"/>
        </layout>
      </appender>
      <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <filter type="log4net.Filter.LoggerMatchFilter">
          <loggerToMatch value="Info"/>
        </filter>
        <filter type="log4net.Filter.DenyAllFilter"/>
        <file value="Log/Info/"/>
        <appendToFile value="true"/>
        <staticLogFileName value="false" />
        <rollingStyle value="Composite"/>
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="2MB" />
        <countDirection value="1" />
        <datePattern value="yyyy-MM\\yyyy-MM-dd"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="时间：%date   线程ID:[%thread]   日志级别：%-5level 运时：%r  %newline %n  %m  %newline %n"/>
        </layout>
      </appender>
      <appender name="DebugRollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <filter type="log4net.Filter.LoggerMatchFilter">
          <loggerToMatch value="Debug"/>
        </filter>
        <filter type="log4net.Filter.DenyAllFilter"/>
        <file value="Log/Debug/"/>
        <appendToFile value="true"/>
        <staticLogFileName value="false" />
        <rollingStyle value="Composite"/>
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="2MB" />
        <countDirection value="1" />
        <datePattern value="yyyy-MM\\yyyy-MM-dd"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="时间：%date   线程ID:[%thread]   日志级别：%-5level 运时：%r  %newline %n  %m  %newline %n"/>
        </layout>
      </appender>
      <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <filter type="log4net.Filter.LoggerMatchFilter">
          <loggerToMatch value="Error"/>
        </filter>
        <filter type="log4net.Filter.DenyAllFilter"/>
        <file value="Log/Error/"/>
        <appendToFile value="true"/>
        <staticLogFileName value="false" />
        <rollingStyle value="Composite"/>
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="2MB" />
        <countDirection value="1" />
        <datePattern value="yyyy-MM\\yyyy-MM-dd"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="时间：%date   线程ID:[%thread]   日志级别：%-5level 运时：%r  %newline %n  %m  %newline %n"/>
        </layout>
      </appender>
    </root>
  </log4net>
</configuration>